<div class="jumbotron text-center" style="background-color:transparent !important">
  <h1 style="color: white">Hello, beauty!</h1>
  <p>It's time to organize that closet of yours and get some new stuff.</p>
  <p><%= button_to 'Discover', users_path,:method => 'get', :class => "btn btn-primary btn-lg" %></p>
</div>