/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
//Font from google Font
@import url(http://fonts.googleapis.com/css?family=Lato);
$maincolor: rgba(255, 255, 0,0.5);
$mainfont: 'Lato', sans-serif;
$basewidth: 600px;

// NAV BAR CUSTOM START
$bgDefault      : #CB99C9;
$bgHighlight    : #CB99C9;
$colDefault     : #ecf0f1;
$colHover       : black;
$colHighlight   : #ffbbbc;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
// NAV BAR CUSTOM END


body  {
  padding-top: 90px;
  background-image: url(3intro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
// STRIPES
.introstripe {
  height: 100vh;
  width: 100vw;
  color: white;
  display: table-cell; vertical-align: middle;
}
.problemstripe {
  height: 100vh;
  width: 100vw;
  color: black;
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: table-cell; vertical-align: middle;
}
.solutionstripe {
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url(6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: table-cell; vertical-align: middle;
}
// ALIGN TEXT IN JUMBOTRON VERTICALLY CENTERED
.vertical-center {
  background-color:transparent;
  text-align: center;
}

span.glyphicon.glyphicon-ok-sign {
  font-size: 1.2em;
}
span.glyphicon.glyphicon-search {
  font-size: 1.5em; 
}
li#front_page_avatar {
  margin: 0;
}
.thumbnail {
  display: inline;
  margin: 5px 0 0 0;
}

#navbar {
    border-width: 0px;
    box-shadow: 0px 0px;
    // background-color: rgba(255,255,255,0);
}
#signin {
  background-color: rgba(255,255,255,0.7);
  border-radius: 3px;
  padding: 20px;
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
// AVATAR
#profile_pic {
  margin: 0 auto 20px auto;
}
#front_page_avatar{
  margin: 5px auto 0 auto;
}

.innerdiv{
  background-color: rgba(255,255,255,1);
  border-radius: 3px;
}

